body{
    background-color: rgb(42, 136, 165);
    color: rgb(45, 44, 41);
    font-size: xx-large;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    list-style-type: none;
}